Repository AlexWayfer/formalism-r18n_errors: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

.cirrus.yaml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script:
    - gem install bundler
    - bundle update

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'package.json', '.remarkrc.yaml', '**.md'
    )

rubocop_task:
  container:
    image: ruby:latest
  <<: *bundle_cache
  lint_script: bundle exec rubocop
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', 'Rakefile', '.rubocop.yml', '*.gemspec',
      '**.rb', '**.ru'
    )

rspec_task:
  depends_on:
    - remark
    - rubocop
  container:
    matrix:
      image: ruby:2.6
      image: ruby:2.7
      image: ruby:3.0
  <<: *bundle_cache
  environment:
    CODECOV_TOKEN: ENCRYPTED[c541dec9b8feee98c91b9d3cce9a0bd1273d1b143c66599f2a576c72e3765cc137d3f5e9548c99a034cafa4fdae74742]
  test_script: bundle exec rspec
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', 'Rakefile', '.rspec', '*.gemspec', 'lib/**',
      'spec/**'
    )

Support Ruby 3
  .cirrus.yaml
  formalism-r18n_errors.gemspec
Due: remark, rubocop, rspec

Update dependencies, resolve new RuboCop offenses
  formalism-r18n_errors.gemspec
  spec/formalism/r18n_errors/validation_helpers_spec.rb
  spec/formalism/r18n_errors_spec.rb
Due: rubocop, rspec

Add `remark-gfm` for a new `remark` version
  .remarkrc.yaml
  package.json
Due: remark

Update version to 0.4.0
  CHANGELOG.md
  lib/formalism/r18n_errors/version.rb
Due: remark, rubocop, rspec

Improve gemspec metadata
  formalism-r18n_errors.gemspec
Due: rubocop, rspec

Add `bundle-audit` CI task
  .cirrus.yaml
  formalism-r18n_errors.gemspec
Due: remark, rubocop, rspec

Rename `master` git branch to `main`
  .cirrus.yaml
  CHANGELOG.md
  README.md
Due: remark, rubocop, rspec

Lock RuboCop version better
  formalism-r18n_errors.gemspec
Due: rubocop, rspec

Resolve RuboCop offenses
  formalism-r18n_errors.gemspec
  spec/formalism/r18n_errors/validation_helpers_spec.rb
Due: rubocop, rspec

Resolve specs errors
  formalism-r18n_errors.gemspec
  spec/formalism/r18n_errors/validation_helpers_spec.rb
Due: rubocop, rspec

Suppress Bundle warnings in CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Add `console` toy
  .toys.rb
Due: rubocop

Add Ruby 3.1 for CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Replace `codecov` Ruby uploader with shell one
  .cirrus.yaml
  formalism-r18n_errors.gemspec
  spec/spec_helper.rb
Due: remark, rubocop, rspec

Enable RSpec `--only-fail` feature
  .gitignore
  spec/spec_helper.rb
Due: remark, rubocop, rspec

Update `formalism` to a new version
  formalism-r18n_errors.gemspec
  lib/formalism/r18n_errors.rb
Due: rubocop, rspec

Add suggested `rubocop-sequel` plugin
  .rubocop.yml
  formalism-r18n_errors.gemspec
Due: rubocop, rspec

Update version to 0.5.0
  CHANGELOG.md
  lib/formalism/r18n_errors/version.rb
Due: remark, rubocop, rspec

Allow `gorilla_patch` version 5
  formalism-r18n_errors.gemspec
Due: rubocop, rspec

Remove dependencies of CI tasks because of different `only_if`
  .cirrus.yaml
Due: remark, rubocop, rspec

Update version to 0.5.1
  CHANGELOG.md
  lib/formalism/r18n_errors/version.rb
Due: remark, rubocop, rspec

Fix specs for Ruby 3
  spec/formalism/r18n_errors/validation_helpers_spec.rb
Due: rubocop, rspec

Add Ruby 3.2 to CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Move development dependencies from gemspec into Gemfile
  Gemfile
  formalism-r18n_errors.gemspec
Due: rubocop, rspec

Drop Ruby 2.6 support
  .cirrus.yaml
  .rubocop.yml
  formalism-r18n_errors.gemspec
Due: remark, rubocop, rspec

Lock `rubocop-rspec` version stricter
  Gemfile
Due: rubocop, rspec

Resolve new RuboCop RSpec offenses
  spec/formalism/r18n_errors/validation_helpers_spec.rb
Due: rubocop, rspec

Replace `uuid` gem with inlined simple Regexp
  Gemfile
  README.md
  lib/formalism/r18n_errors/validation_helpers.rb
  spec/formalism/r18n_errors/validation_helpers_spec.rb
Due: remark, rubocop, rspec

Lock `remark-gfm` version
  package.json
Due: remark

Fail `remark` on any warning
  package.json
Due: remark

Disable Renovate (open issue) dashboard
  renovate.json
Due: none

Add groups for Renovate
  renovate.json
Due: none

Remove Depfu badge from README
  README.md
Due: remark

Add Ruby 3.3 for CI
  .cirrus.yaml
Due: remark, rubocop, rspec
