Repository AlexWayfer/formalism-r18n_errors: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

.cirrus.yaml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script:
    - gem install bundler
    - bundle update

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'package.json', '.remarkrc.yaml', '**.md'
    )

rubocop_task:
  container:
    image: ruby:latest
  <<: *bundle_cache
  lint_script: bundle exec rubocop
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', 'Rakefile', '.rubocop.yml', '*.gemspec',
      '**.rb', '**.ru'
    )

rspec_task:
  depends_on:
    - remark
    - rubocop
  container:
    matrix:
      image: ruby:2.6
      image: ruby:2.7
      image: ruby:3.0
  <<: *bundle_cache
  environment:
    CODECOV_TOKEN: ENCRYPTED[c541dec9b8feee98c91b9d3cce9a0bd1273d1b143c66599f2a576c72e3765cc137d3f5e9548c99a034cafa4fdae74742]
  test_script: bundle exec rspec
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', 'Rakefile', '.rspec', '*.gemspec', 'lib/**',
      'spec/**'
    )

Drop Ruby 2.7 support
  .cirrus.yaml
  .rubocop.yml
  formalism-r18n_errors.gemspec
Due: remark, rubocop, rspec

Delete Renovate (config)
  renovate.json
Due: none

Configure `remark-lint-list-item-indent` after `remark-preset-lint-recommended` update
  .remarkrc.yaml
Due: remark

Update RuboCop dependencies
  Gemfile
Due: rubocop, rspec

Resolve new RuboCop offenses
  formalism-r18n_errors.gemspec
Due: rubocop, rspec

Allow `net-smtp` v0.5 development dependency
  Gemfile
Due: rubocop, rspec

Switch `email_address` development dependency to fork version
  Gemfile
Due: rubocop, rspec

Allow `formalism` v0.6
  formalism-r18n_errors.gemspec
Due: rubocop, rspec

Update version to 0.6.0
  CHANGELOG.md
  lib/formalism/r18n_errors/version.rb
Due: remark, rubocop, rspec

Configure Renovate
  renovate.json
Due: none

Add Ruby 3.4 for CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Resolve RuboCop warning about `plugins:` instead of `require:`
  .rubocop.yml
Due: rubocop

Resolve new RuboCop offense about `Array#one?`
  lib/formalism/r18n_errors/validation_helpers.rb
Due: rubocop, rspec

Drop Ruby 3.0 and 3.1 support
  .cirrus.yaml
  .rubocop.yml
  formalism-r18n_errors.gemspec
Due: remark, rubocop, rspec

Add `.ruby-version` file to `.gitignore`
  .gitignore
Due: remark, rubocop, rspec

Remove `bundler` as development dependency
  Gemfile
Due: rubocop, rspec

Switch from fork of `email_address` to a new release
  Gemfile
Due: rubocop, rspec

Resolve new RuboCop offenses
  lib/formalism/r18n_errors.rb
Due: rubocop, rspec

Improve updating system gems in CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Resolve new `bundle update` deprecation warning in CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Update `gem_toys` and `toys` dependencies
  Gemfile
Due: rubocop, rspec

Update runtime dependencies
  formalism-r18n_errors.gemspec
Due: rubocop, rspec

Update RuboCop and its plugins
  Gemfile
Due: rubocop, rspec

Add Ruby 4.0 support
  .cirrus.yaml
  formalism-r18n_errors.gemspec
Due: remark, rubocop, rspec

Remove `Rakefile` from Cirrus CI configuration
  .cirrus.yaml
Due: remark, rubocop, rspec

Update version to 1.0.0
  CHANGELOG.md
  lib/formalism/r18n_errors/version.rb
Due: remark, rubocop, rspec
